# Mean absolute deviation

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
df = pd.read_csv('mammals.csv')
msleep = df
msleep.head()

,species,body_wt,brain_wt,non_dreaming,dreaming,total_sleep,life_span,gestation,predation,exposure,danger
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3
2,ArcticFox,3.385,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4

### Neem de absolute value of the distances to the mean. en neem dan de mean of those differences

In [6]:
dist = msleep['total_sleep'] - mean(msleep$total_sleep) # WERKT helaas niet.
np.mean(np.abs(dists))

SyntaxError: invalid syntax (2266758593.py, line 1)

### Standard deviation squares distances, penalizing (bestraft) longer distances more than shorter ones
### Mean absolute deviation penalizes each distance equally
### De 1 is niet beter dan de ander, maar Standard deviation is meer gebruikt.