## Quantiles: 0.5 quantile = median
### Verdeelt de data in 2 gelijke delen.
### Kies de kolom en daarna 0.5
### De uitslag werkt nu niet maar als de uitslag 10.1 zou zijn, betekent dit dat 50% van dieren in de dataset minder slaap krijgen dan 10.1 uur
### De andere 50 % slapen meer dan 10.1 uur. (Dus dit is hetzelfde als de median.

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
df = pd.read_csv('mammals.csv')
msleep = df
msleep.head()

,species,body_wt,brain_wt,non_dreaming,dreaming,total_sleep,life_span,gestation,predation,exposure,danger
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3
2,ArcticFox,3.385,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4

In [4]:
np.quantile(msleep['total_sleep'], 0.5) # Werkt niet

nan

# Meerdere quantiles:
## We verdelen de data in 4 gelijke delen (quartiles)
## 25 % van de data zit tussen een total sleep time van 1.9 en 7.85.
## 25 % van de data zit tussen een total sleep time van 7.85 en 10.1
## 25 % van de data zit tussen een total sleep time van 10.1 en 13.75
## 25 % van de data zit tussen een total sleep time van 13.75 en 19.9

In [7]:
np.quantile(msleep['total_sleep'], [0, 0.25, 0.5, 0.75, 1])
# Uitslag: array([1.9, 7.85, 10.1, 13.75, 19.9])

array([nan, nan, nan, nan, nan])