# Variance berekenen: Distribution van data:

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
df = pd.read_csv('mammals.csv')
df.head()

,species,body_wt,brain_wt,non_dreaming,dreaming,total_sleep,life_span,gestation,predation,exposure,danger
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3
2,ArcticFox,3.385,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4

# Beschrijft de waardes:

In [14]:
df.describe()

,body_wt,brain_wt,non_dreaming,dreaming,total_sleep,life_span,gestation,predation,exposure,danger
count,62.000000,62.000000,48.000000,50.000000,58.000000,58.000000,58.000000,62.000000,62.000000,62.000000
mean,198.789984,283.134194,8.672917,1.972000,10.532759,19.877586,142.353448,2.870968,2.419355,2.612903
std,899.158011,930.278942,3.666452,1.442651,4.606760,18.206255,146.805039,1.476414,1.604792,1.441252
min,0.005000,0.140000,2.100000,0.000000,2.600000,2.000000,12.000000,1.000000,1.000000,1.000000
25%,0.600000,4.250000,6.250000,0.900000,8.050000,6.625000,35.750000,2.000000,1.000000,1.000000
50%,3.342500,17.250000,8.350000,1.800000,10.450000,15.100000,79.000000,3.000000,2.000000,2.000000
75%,48.202500,166.000000,11.000000,2.550000,13.200000,27.750000,207.500000,4.000000,4.000000,4.000000
max,6654.000000,5712.000000,17.900000,6.600000,19.900000,100.000000,645.000000,5.000000,5.000000,5.000000

## 1. Haal het Gemiddelde van elk datapoint af:

In [5]:
msleep = df
dists = msleep['total_sleep'] - np.mean(msleep['total_sleep'])

In [6]:
print(dists)

0    -7.232759
1    -2.232759
2     1.967241
3     5.967241
4    -6.632759
        ...
57   -5.132759
58    5.267241
59   -0.232759
60    8.867241
61         NaN
Name: total_sleep, Length: 62, dtype: float64

# 2. Square elke afstand:
### Dit doen we om alle cijfers positief te maken

In [9]:
sq_dists = dists ** 2
print(sq_dists)

0     52.312797
1      4.985211
2      3.870039
3     35.607970
4     43.993487
        ...
57    26.345211
58    27.743832
59     0.054177
60    78.627970
61          NaN
Name: total_sleep, Length: 62, dtype: float64

# 3. Tel alle waardes bij elkaar op.

In [11]:
sum_sq_dists = np.sum(sq_dists)
print(sum_sq_dists)

1209.6677586206895

# 4. Deel de som van de squared afstanden door het aantal datapunten - 1. Dat is de variance (Variantie)

In [16]:
variance = sum_sq_dists / (58-1)
print(variance)

21.222241379310343

## Hoe hoger de variance, hoe meer de data verspreid is.

# We kunnen de variance ook in 1 stap berekenen:

In [20]:
np.var(msleep['total_sleep'], ddof=1)

21.222241379310343

### Let op!

Zonder gebruik van `ddof=1` , wordt de variance berekend op basis van de totale populatie en NIET een sample zoals we hier doen.

In [21]:
np.var(msleep['total_sleep'])

20.856340665873958