#### pip install polars

# Titanic

In [1]:
import polars as pl
df = pl.read_csv(source=r"files/titanicdata.csv",
                 has_header=True,
                separator=",")

df.head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬─────────────────────┬───┬─────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                ┆ … ┆ Ticket  ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                 ┆   ┆ ---     ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                 ┆   ┆ str     ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════╪═══╪═════════╪═════════╪═══════╪══════════╡
│ 892         ┆ 0        ┆ 3      ┆ Kelly, Mr. James    ┆ … ┆ 330911  ┆ 7.8292  ┆ null  ┆ Q        │
│ 893         ┆ 1        ┆ 3      ┆ Wilkes, Mrs. James  ┆ … ┆ 363272  ┆ 7.0     ┆ null  ┆ S        │
│             ┆          ┆        ┆ (Ellen Needs)       ┆   ┆         ┆         ┆       ┆          │
│ 894         ┆ 0        ┆ 2      ┆ Myles, Mr. Thomas   ┆ … ┆ 240276  ┆ 9.6875  ┆ null  ┆ Q        │
│             ┆          ┆        ┆ Francis             ┆   ┆         ┆         ┆       ┆          │
│ 895         ┆ 0        ┆ 3      ┆ Wirz, Mr. Albert    ┆ … ┆ 315154  ┆ 8.6625  ┆ null  ┆ S        │
│ 896         ┆ 1        ┆ 3      ┆ Hirvonen, Mrs.      ┆ … ┆ 3101298 ┆ 12.2875 ┆ null  ┆ S        │
│             ┆          ┆        ┆ Alexander (Helga …  ┆   ┆         ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴─────────────────────┴───┴─────────┴─────────┴───────┴──────────┘

## Parquet file van maken

In [2]:
df.write_parquet(file=r"files\titanic_parquet.parquet",compression="zstd")

## Parquet file lezen

In [3]:
dfparquet = pl.read_parquet(
    source=r"files\titanic_parquet.parquet",
    columns=["PassengerId", "Name", "Fare"]) # We selecteren alleen de kolommen die we willen zien.
dfparquet.head()

shape: (5, 3)
┌─────────────┬───────────────────────────────────┬─────────┐
│ PassengerId ┆ Name                              ┆ Fare    │
│ ---         ┆ ---                               ┆ ---     │
│ i64         ┆ str                               ┆ f64     │
╞═════════════╪═══════════════════════════════════╪═════════╡
│ 892         ┆ Kelly, Mr. James                  ┆ 7.8292  │
│ 893         ┆ Wilkes, Mrs. James (Ellen Needs)  ┆ 7.0     │
│ 894         ┆ Myles, Mr. Thomas Francis         ┆ 9.6875  │
│ 895         ┆ Wirz, Mr. Albert                  ┆ 8.6625  │
│ 896         ┆ Hirvonen, Mrs. Alexander (Helga … ┆ 12.2875 │
└─────────────┴───────────────────────────────────┴─────────┘

## Feather file van maken
https://pola-rs.github.io/polars/py-polars/html/reference/io.html

In [4]:
df.write_ipc(file=r"files\titanic_feather.feather",
             compression="zstd")

## Read feather file

In [5]:
dffeather = pl.read_ipc(source=r"files\titanic_feather.feather")
dffeather.head(50)

shape: (50, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket     ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---        ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str        ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪════════════╪═════════╪═══════╪══════════╡
│ 892         ┆ 0        ┆ 3      ┆ Kelly, Mr. James ┆ … ┆ 330911     ┆ 7.8292  ┆ null  ┆ Q        │
│ 893         ┆ 1        ┆ 3      ┆ Wilkes, Mrs.     ┆ … ┆ 363272     ┆ 7.0     ┆ null  ┆ S        │
│             ┆          ┆        ┆ James (Ellen     ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ Needs)           ┆   ┆            ┆         ┆       ┆          │
│ 894         ┆ 0        ┆ 2      ┆ Myles, Mr.       ┆ … ┆ 240276     ┆ 9.6875  ┆ null  ┆ Q        │
│             ┆          ┆        ┆ Thomas Francis   ┆   ┆            ┆         ┆       ┆          │
│ 895         ┆ 0        ┆ 3      ┆ Wirz, Mr. Albert ┆ … ┆ 315154     ┆ 8.6625  ┆ null  ┆ S        │
│ …           ┆ …        ┆ …      ┆ …                ┆ … ┆ …          ┆ …       ┆ …     ┆ …        │
│ 938         ┆ 0        ┆ 1      ┆ Chevre, Mr. Paul ┆ … ┆ PC 17594   ┆ 29.7    ┆ A9    ┆ C        │
│             ┆          ┆        ┆ Romaine          ┆   ┆            ┆         ┆       ┆          │
│ 939         ┆ 0        ┆ 3      ┆ Shaughnessy, Mr. ┆ … ┆ 370374     ┆ 7.75    ┆ null  ┆ Q        │
│             ┆          ┆        ┆ Patrick          ┆   ┆            ┆         ┆       ┆          │
│ 940         ┆ 1        ┆ 1      ┆ Bucknell, Mrs.   ┆ … ┆ 11813      ┆ 76.2917 ┆ D15   ┆ C        │
│             ┆          ┆        ┆ William Robert   ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ (E…              ┆   ┆            ┆         ┆       ┆          │
│ 941         ┆ 1        ┆ 3      ┆ Coutts, Mrs.     ┆ … ┆ C.A. 37671 ┆ 15.9    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William (Winnie  ┆   ┆            ┆         ┆       ┆          │
│             ┆          ┆        ┆ Min…             ┆   ┆            ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴────────────┴─────────┴───────┴──────────┘

# Avg/Mean Age

In [1]:
df["Mean_age"] = df["Age"]
df()

NameError: name 'df' is not defined

# Mean berekenen